<%- include('header'); %>
<div class="main_container">
  <div class="image">
    <img
      src="https://66.media.tumblr.com/12917efcf1ce1f4f5d9403aeaa993fff/920a7ab3783d85e0-48/s500x750/27b6cfce652b8309a5c676b9e8da61a9fcfab1e7.gif"
      alt="congrats"
    />
  </div>
  <div class="content">
    <div class="upper_sentence">
      <p>
        Congratulation! Your account has been successfully created. 
        Just follow
        this link to confirm <br />your Email address and you will be
        able to continue
        shopping our publications in no time:
      </p>

      <a href="#">Connection using Insecure TLS v1.0 protocol</a>
      <hr />
    </div>
    <!------------------------------------------------------>
    <div class="middle_sentence">
      <p>
        The deadline for this change will be 4th of June, 2022 after this date
        we won't be accepting.
      </p>
    </div>

    <div class="btn">
      <button>Confirm Your Email</button>
    </div>

    <div class="below_sentence">
      <p>
        Get in if you have any questions regarding our product. <br />
        Feel free contact us 24/7.
        <br />
        We are here to help.
      </p>
      <p>Thank you for your cooperation,</p>
    </div>

    <h5>Best Regards.</h5>
    <div class="sns_icons">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-youtube-square"></i>
      </div>
  </div>
</div>
<%- include('footer'); %>
